{{ define "create" }}

{{ template "header" }}

    <form>
        <div class="mb-3">
          <label style="color: white;" class="form-label">Service</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label style="color: white;" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-warning">Create</button>
      </form>
</body>
</html>
{{end}}