{{ define "create" }}

{{ template "header" }}

      {{if eq .Status "nil"}}
      <div class="text-end">
        <a href="/sign" type="button" class="btn btn-outline-light me-2" style="border-radius: 0;">Login</a>
        <a href="/reg" type="button" class="btn btn-warning" style="border-radius: 0;">Sign-up</a>
      </div>
      {{else}}
      <div class="text-end">
        <a href="/logout" type="button" class="btn btn-warning" style="border-radius: 0;">Logout</a>
      </div>
      {{end}}
    </div>
  </div>
</header>
<body style="background-color: #343a40;">
  <br>
  <br>
  <div style="display: flex; justify-content: center; text-align: center;">
    <form style="margin: 10px;" method="POST" action="/create">
        <h1 class="h2 mb-3 fw-normal">CREATE</h1>
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="example.com" style="border-radius: 0;" name="service">
          <label for="floatingInput">Service name</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="http://example.com" style="border-radius: 0;" name="url">
          <label for="floatingInput">URL</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" style="border-radius: 0;" name="email">
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingPassword" placeholder="Password" style="border-radius: 0;" name="pass">
          <label for="floatingInput">Password</label>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-warning" style="border-radius: 0;">Create</button>
        <p class="mt-5 mb-3 text-muted">© 2021</p>
      </form>
  </div>
</body>
</html>
{{end}}