{{ define "export" }}

{{ template "header" }}

      {{if eq .Status "nil"}}
      <div class="text-end">
        <a href="/sign" type="button" class="btn btn-outline-light me-2" style="border-radius: 0;">Login</a>
        <a href="/reg" type="button" class="btn btn-warning" style="border-radius: 0;">Sign-up</a>
      </div>
      {{else}}
      <div class="text-end">
        <a href="/logout" type="button" class="btn btn-warning" style="border-radius: 0;">Logout</a>
      </div>
      {{end}}
    </div>
  </div>
</header>
<body style="background-color: #343a40;">
  <br>
  <br>
  <div style="display: flex; justify-content: center; text-align: center;">
    <form style="margin: 10px;" method="POST" action="/export" enctype="multipart/form-data">
      <h1 class="h2 mb-3 fw-normal">EXPORT</h1>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" name="chbox">
        <label class="form-check-label" for="flexCheckChecked">
          Decode passwords
        </label>
      </div>
      <button type="submit" class="w-100 btn btn-lg btn-warning" style="border-radius: 0;">Export</button>
      <p class="mt-5 mb-3 text-muted">© 2021</p>
    </form>
  </div>
</body>
</html>
{{end}}