{{ define "index" }}

{{ template "header" }}
    <table class="table table-dark table-hover" style="width: 80%;">
        <tr>
            <td><h3>Service</h3></td><td><h3>Url</h3></td>
            <td><h3>Email</h3></td>
            <td><h3>Password</h3></td>
            <td>Delete</td>
        </tr>
        {{range .}}
            <tr>
                <td>{{.Service}}</td>
                <td><a href="{{.Url}}">{{.Url}}</a></td>
                <td>{{.Email}}</td>
                <td>{{.Pass}}</td>
                <form action="/delete" method="POST" enctype="multipart/form-data">
                    <td><button style="background-color: #ffc107;" type="submit" value="{{.Id}}" name="id_pass">X</button></td>
                </form>
            </tr>
        {{else}}
            <tr>
                <td>example.com</td>
                <td><a href="#">http://example.com</a></td>
                <td>example@example.com</td>
                <td>example.pass</td>
                <td><button style="background-color: #ffc107;" type="submit">X</button></td>
            </tr>
        {{end}}
    </table>
</div>
</body>
</html>
{{end}}