{{ define "index" }}

{{ template "header" }}
    <!-- <h1>My Passwords</h1> -->
    <table class="table table-dark table-hover" style="width: 40%;">
        <tr><td><h3>Service</h3></td><td><h3>Password</h3></td><td><h3>Data</h3></td>
        <tr><td>35,5</td><td>4</td><td>36⅔</td>
        <tr><td>36</td><td>4,5</td><td>37⅓</td>
        <tr><td>36,5</td><td>5</td><td>38</td>
        <tr><td>37</td><td>5,5</td><td>38⅔</td>
        <tr><td>38</td><td>6</td><td>39⅓</td>
        <tr><td>38,5</td><td>6,5</td><td>40</td>
        <tr><td>39</td><td>7</td><td>40⅔</td></tr>
        <tr><td>40</td><td>7,5</td><td>41⅓</td>
        <tr><td>40,5</td><td>8</td><td>42</td>
        <tr><td>41</td><td>8,5</td><td>42⅔</td>
        <tr><td>42</td><td>9</td><td>43⅓</td>
        <tr><td>43</td><td>9,5</td><td>44</td>
        <tr><td>43,5</td><td>10</td><td>44⅔</td>
        <tr><td>44</td><td>10,5</td><td>45⅓</td>
        <tr><td>44,5</td><td>11</td><td>46</td>
        <tr><td>45</td><td>11,5</td><td>46⅔</td>
        <tr><td>46</td><td>12</td><td>47⅓</td>
        <tr><td>46,5</td><td>12,5</td><td>48</td>
        <tr><td>47</td><td>13</td><td>48⅔</td>
        <tr><td>48</td><td>13,5</td><td>49⅓</td>
    </table>
</div>
</body>
</html>
{{end}}