{{ define "index" }}

{{template "header"}}
      
      {{if eq .Status "nil"}}
      <div class="text-end">
        <a href="/sign" type="button" class="btn btn-outline-light me-2" style="border-radius: 0;">Login</a>
        <a href="/reg" type="button" class="btn btn-warning" style="border-radius: 0;">Sign-up</a>
      </div>
      {{else}}
      <form id="searchBar" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form>
      <script>
        const searchBar = document.forms['searchBar'].querySelector('input')
        

        searchBar.addEventListener("keyup", function(e) {
          const term = e.target.value.toLowerCase()
          const rows = document.getElementsByTagName('tr')
          
          Array.from(rows).forEach(function(row) {
            const data = row.firstElementChild.textContent

            if (data.toLowerCase().includes(term)) {
              row.style.display = ''
            } else {
              row.style.display = 'none'
            }
          })
        })
        
      </script>
      <div class="text-end">
        <a href="/logout" type="button" class="btn btn-warning" style="border-radius: 0;">Logout</a>
      </div>
      {{end}}
    </div>
  </div>
</header>
<body style="background-color: #343a40;">
    <br>
    <br>
    <div style="display: flex; justify-content: center; text-align: center;">
        <table id="table-dark" class="table table-dark table-hover" style="width: 80%;">
            <tr style="font-size: 12px;">
                <td>Service</td>
                <td>Url</td>
                <td>Email</td>
                <td>Password</td>
                <td>Delete</td>
            </tr>
            {{range .Passwords}}
            <tr>
                <td>{{.Service}}</td>
                <td><a href="{{.Url}}">{{.Url}}</a></td>
                <td>{{.Email}}</td>
                <td>{{.Pass}}</td>
                <form action="/delete" method="POST" enctype="multipart/form-data">
                    <td><button style="background-color: #ffc107;" type="submit" value="{{.Id}}" name="id_pass">X</button></td>
                </form>
            </tr>
            {{else}}
            <tr>
                <td>example.com</td>
                <td><a href="#">http://example.com</a></td>
                <td>example@example.com</td>
                <td>example.pass</td>
                <td><button style="background-color: #ffc107;" type="submit">X</button></td>
            </tr>
            {{end}}
        </table>
    </div>
</body>
</html>
{{end}}